body{
  color: #909090 !important;
}
h1, h2, h3, h4, h5, h6 {
  color: #adadad !important;
}
#page-wrapper{
  background-color: #151616 !important;
}
#header {
  background: #1f2022 !important;
  padding: 0px;
}
#header .menubar .dropdown-menu a {
  background: #333335 !important;
  border-bottom: 1px solid #292a2d !important;
}
.navbar-light .container {
  background: #303133 !important;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 50px;
  padding-right: 50px;
  left: 0px;
  right: 0px;
}
.header-main .header-main-content {
  color: #c1c3c6 !important;
  background: #292a2d !important;
}
.header-main .header-main-content:focus {
  color: #c1c3c6 !important;
  background: #292a2d !important;
}
.header-main .header-main-content .navbar-toggleable-md .infoarea a.nav-link:hover {
  color: #c1c3c6 !important;
  background: #1f2022 !important;
}
.header-main .navbar .navbar-inner .nav-item .dropdown-menu a {
  color: #c1c3c6 !important;
  background: #1f2022 !important;
}
.block {
  background: #292a2d !important;
  border-color: #292a2d !important;
}
.block .content a {
  color: #908e8e !important;
}
.block-region .block .card-body .card-title, .block-region .block .userprofile .profile_tree section .card-title, .userprofile .profile_tree .block-region .block section .card-title {
  background: #292a2d !important;
  border-bottom: 1px solid #1c1d1f !important;
}
.btn-secondary, .btn-default {
  color: #c1c3c6 !important;
  background: #292a2d !important;
}
.btn-outline-secondary {
  color: #92969ad6 !important;
  border-color: #868e96 !important;
  border-color: #0000003d !important;
}
.card, #page-enrol-users #filterform, .que .history, .userprofile .profile_tree section, .groupinfobox, .well {
  background-color: #292a2d !important;
  border: 1px solid #292a2d !important;
}
.card-body, .userprofile .profile_tree section {
  background-color: #292a2d !important;
}
#region-main {
  background-color: #292a2d !important;
}
.course-content ul li.section.main {
  border-bottom: 1px solid #171717c4 !important;
}
.list-group-item {
  background-color: #292a2d !important;
}
.border-bottom {
  border-bottom: 1px solid #3e3e3e!important;
}
.border, .filemanager-container, .filepicker-filelist {
  border: 1px solid #00000000!important;
}
[data-region="drawer"] {
  background-color: #292a2d !important;
}
.generaltable {
  background: #909090 !important;
}
.generaltable:hover {
  background: #807f7f !important;
}
.generaltable tbody>tr:nth-child(2n + 1)>td {
    background: #2e2f31 !important;
}
.generaltable tbody>tr:nth-child(2n + 1)>td:hover {
  background: #414244 !important;
}
.path-mod-assign td.submissionstatussubmitted, .path-mod-assign div.submissionstatussubmitted, .path-mod-assign a:link.submissionstatussubmitted {
  background-color: #3a3a3a !important;
}
.generaltable {
  color: #909090 !important;
}
.generaltable tbody tr:hover>td {
  background: #292a2d !important;
}
.path-mod-assign div.submissionsummarytable table tbody tr td.c0 {
 background: #292a2d !important;
}
.path-mod-assign td.submissionnotgraded, .path-mod-assign div.submissionnotgraded {
  color: #8c7878 !important;
  background-color: #313235 !important;
}
.generaltable td {
  background: #292a2d !important;
}
#jump-to-activity.custom-select {
  background: #292a2d !important;
  border: 1px solid black !important;
  color: #a0a0a0 !important;
}
.filepicker-filelist .filepicker-container, .filemanager.fm-noitems .fm-empty-container {
  border: 2px dashed #333438 !important;
}
.btn.btn-secondary[role="button"], #page-grade-grading-manage .actions .action.btn-secondary[role="button"], #page-grade-grading-manage .actions .btn-default.action[role="button"], #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input.btn-secondary[role="button"], #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input.btn-default[role="button"], #rubric-rubric.gradingform_rubric .addcriterion.btn-secondary[role="button"], #rubric-rubric.gradingform_rubric .btn-default.addcriterion[role="button"], .btn-default.btn[role="button"], #page-grade-grading-manage .actions .action.btn-default[role="button"], #rubric-rubric.gradingform_rubric .addcriterion.btn-default[role="button"] {
  border: 1px solid #595a5f !important;
}
.btn-secondary:not(:disabled):not(.disabled):active, .btn-default:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .fp-viewbar:not(.disabled) a.checked:not(:disabled):not(.disabled), .btn-default:not(:disabled):not(.disabled).active, .show>.btn-secondary.dropdown-toggle, .show>.btn-default.dropdown-toggle {
  border-color: #595a5f !important;
}
.fp-viewbar.btn-group .btn.btn-secondary, .fp-viewbar.btn-group #page-grade-grading-manage .actions .action.btn-secondary, .fp-viewbar.btn-group #page-grade-grading-manage .actions .btn-default.action, #page-grade-grading-manage .actions .fp-viewbar.btn-group .action.btn-secondary, .fp-viewbar.btn-group #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input.btn-secondary, .fp-viewbar.btn-group #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input.btn-default, #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel .fp-viewbar.btn-group input.btn-secondary, .fp-viewbar.btn-group #rubric-rubric.gradingform_rubric .addcriterion.btn-secondary, .fp-viewbar.btn-group #rubric-rubric.gradingform_rubric .btn-default.addcriterion, #rubric-rubric.gradingform_rubric .fp-viewbar.btn-group .addcriterion.btn-secondary, .fp-viewbar.btn-group .btn-default.btn, .fp-viewbar.btn-group #page-grade-grading-manage .actions .action.btn-default, #page-grade-grading-manage .actions .fp-viewbar.btn-group .action.btn-default, #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel .fp-viewbar.btn-group input.btn-default, .fp-viewbar.btn-group #rubric-rubric.gradingform_rubric .addcriterion.btn-default, #rubric-rubric.gradingform_rubric .fp-viewbar.btn-group .addcriterion.btn-default {
  border: 1px solid #595a5f !important;
}
input#id_submitbutton {
  background: #292a2d !important;
  border: 1px solid #134467 !important;
}
.dir-ltr .breadcrumb>li a {
  color: #986939 !important;
}
.breadcrumb>li>a:hover {
  color: #986939 !important;
}
.header-main .navbar .navbar-inner .navbar-toggleable-md a.nav-link:focus {
  color: #888888 !important;
  background: #1f2022 !important;
}
.modal-content, .moodle-dialogue-base .moodle-dialogue-wrap.moodle-dialogue-content {
  background-color: #2c2d2f !important;
}
.col-md-3 {
  background: #242527 !important;
}
#footer {
  border-top: 5px solid #a2a2a2 !important;
  margin-top: 0px !important;
}
.container {
  max-width: 1380px !important;
  background: #292a2d !important;
}
.block .block-cards .progress {
  height: 1rem !important;
}
#region-main.has-blocks .block-myoverview .progress .progress-bar {
  background-color: #2e2f31 !important;
}
.tool_dataprivacy{
  background-color: #292a2d !important;
}
.usertour{
  background-color: #292a2d !important;
}
#page-my-index {
  background-color: #292a2d !important;
}
a {
  color: #a2a2a2 !important;
}
.bg-inverse a {
  color: #a2a2a2 !important;
  text-decoration: none;
}
.course-content .topics .section .activity .contentafterlink p {
  color: #6d6d6d !important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057 !important;
  background-color: #313233 !important;
  border-color: #313233 !important;
}
.nav-tabs {
  border-bottom: 1px solid #313233 !important;
}
.generaltable thead th {
  color: #a5a5a5 !important;
  background: #313233 !important;
}
.table thead th, table.collection thead th, table.flexible thead th, .generaltable thead th {
  border-bottom: 2px solid #2e2f31 !important;
}
i.icon {
  color: #754701 !important;
}
.course-content .topics .section .summary .no-overflow {
  color: #97a2a2 !important;
  background: #232427 !important;
  border: none !important;
}
.course-content .topics .section .summary .no-overflow p {
  color: #727272 !important;
}

::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #151616;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666;}
::-webkit-resizer { background-color: #666;}
